*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.navlink-content{
    padding: 1.2rem 16.1rem;
    box-shadow: 1px 3px 5px rgba(59, 59, 59, 0.705);
    background: whitesmoke;
    position: fixed;
    z-index: 3;
}

.navlink-content ul{
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;

}

.navlink-content ul li a{
    margin-right: 50px;
    color: rgb(27, 88, 219);
    font-weight: 600;
    transition: all .3s ease;
}

.navlink-content ul li a span{
    padding: 1rem 0;
    content: ' ';
    color: #890101;
    border-top: solid 5px #890101;
    border-bottom: solid 5px #890101;
}